In [1]:
import sqlite3
sqlite_file = '/Users/etu/Desktop/kaggle/input/database.sqlite'

sqlite_file = 'my_first_db.sqlite'    # name of the sqlite database file
table_name = 'my_table_2'   # name of the table to be queried
id_column = 'my_1st_column'

some_id = 123456
column_2 = 'my_2nd_column'
column_3 = 'my_3rd_column'

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# 1) Contents of all columns for row that match a certain value in 1 column
c.execute('SELECT * FROM {tn} WHERE {cn}="Hi World"'.\
        format(tn=table_name, cn=column_2))
all_rows = c.fetchall()
print('1):', all_rows)

conn.commit()
conn.close()

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

cookie = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/cookies.tsv', sep='\t')
#device = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/devices.tsv', sep='\t')
#id_ips = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/id_ips.tsv', sep='\t')
#id_pro = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/id_properties.tsv', sep='\t')
#ips = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/ips.tsv', sep='\t')
#prop_cat = pd.read_csv('/Users/etu/Desktop/kaggle/input/icdm/property_categories.tsv', sep='\t')

In [11]:
cookie.head(2)
#device.hear(2)

,drawbridge_handle,cookie_id,computer_os_type,browser_version,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,-1,id_10,computer_os_type_203,computer_browser_version_1158,country_146,1,anonymous_c1_1307,anonymous_c2_18778,15,1,204
1,handle_609762,id_100,computer_os_type_133,computer_browser_version_875,country_146,1,anonymous_c1_753,-1,41,1,204

In [9]:
cookie.dtypes

drawbridge_handle    object
cookie_id            object
computer_os_type     object
browser_version      object
country              object
anonymous_c0          int64
anonymous_c1         object
anonymous_c2         object
anonymous_5           int64
anonymous_6           int64
anonymous_7           int64
dtype: object

In [10]:
cookie.describe()

         anonymous_c0     anonymous_5     anonymous_6     anonymous_7
count  2175520.000000  2175520.000000  2175520.000000  2175520.000000
mean        -0.013745       20.657237       78.836019      191.828998
std          0.658348       17.472624       70.793496       17.726981
min         -1.000000        1.000000        0.000000        0.000000
25%          0.000000        6.000000        1.000000      185.000000
50%          0.000000       16.000000       81.000000      202.000000
75%          0.000000       32.000000      145.000000      204.000000
max          1.000000      151.000000      204.000000      204.000000

##How to execute IPython notebook with pyspark##

PYSPARK_DRIVER_PYTHON=ipython PYSPARK_DRIVER_PYTHON_OPTS="notebook" /Users/etu/spark-1.3.0/bin/pyspark

In [4]:
%pylab inline
from pyspark import SparkContext
#sc = SparkContext('local', 'pyspark')
print sc

Populating the interactive namespace from numpy and matplotlib
<pyspark.context.SparkContext object at 0x112882390>

In [6]:
from pyspark.sql import SQLContext, Row
sqlContext = SQLContext(sc)

sc.addPyFile('/Users/etu/Desktop/kaggle/input/pyspark_csv.py') 

import os
import pyspark_csv as pycsv

plaintext_rdd = sc.textFile("/Users/etu/Desktop/kaggle/input/icdm/cookies_n20.tsv")
dataframe = pycsv.csvToDataFrame(sqlContext, plaintext_rdd, sep="\t")

#df = sqlContext.parquetFile("/Users/etu/Desktop/kaggle/input/icdm/cookies.tsv")
#df.show()
#parts = lines.map(lambda l: l.split("\t"))
#people = parts.map(lambda p: Row(name=p[0], age=int(p[1])))

In [7]:
type(dataframe)

pyspark.sql.dataframe.DataFrame

In [8]:
dataframe.schema

StructType(List(StructField(drawbridge_handle,StringType,true),StructField(cookie_id,StringType,true),StructField(computer_os_type,StringType,true),StructField(browser_version,StringType,true),StructField(country,StringType,true),StructField(anonymous_c0,IntegerType,true),StructField(anonymous_c1,StringType,true),StructField(anonymous_c2,StringType,true),StructField(anonymous_5,IntegerType,true),StructField(anonymous_6,IntegerType,true),StructField(anonymous_7,IntegerType,true)))

In [9]:
dataframe.head()

Row(drawbridge_handle=u'-1', cookie_id=u'id_10', computer_os_type=u'computer_os_type_203', browser_version=u'computer_browser_version_1158', country=u'country_146', anonymous_c0=1, anonymous_c1=u'anonymous_c1_1307', anonymous_c2=u'anonymous_c2_18778', anonymous_5=15, anonymous_6=1, anonymous_7=204)

In [10]:
dataframe.take(3)

[Row(drawbridge_handle=u'-1', cookie_id=u'id_10', computer_os_type=u'computer_os_type_203', browser_version=u'computer_browser_version_1158', country=u'country_146', anonymous_c0=1, anonymous_c1=u'anonymous_c1_1307', anonymous_c2=u'anonymous_c2_18778', anonymous_5=15, anonymous_6=1, anonymous_7=204),
 Row(drawbridge_handle=u'handle_609762', cookie_id=u'id_100', computer_os_type=u'computer_os_type_133', browser_version=u'computer_browser_version_875', country=u'country_146', anonymous_c0=1, anonymous_c1=u'anonymous_c1_753', anonymous_c2=u'-1', anonymous_5=41, anonymous_6=1, anonymous_7=204),
 Row(drawbridge_handle=u'handle_1622320', cookie_id=u'id_1000', computer_os_type=u'computer_os_type_203', browser_version=u'computer_browser_version_36', country=u'country_146', anonymous_c0=0, anonymous_c1=u'anonymous_c1_906', anonymous_c2=u'anonymous_c2_751', anonymous_5=40, anonymous_6=140, anonymous_7=204)]